@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&family=League+Spartan:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px solid red;
} */

body {
  min-height: 100vh;
  background-color: #070724;
}

.bordered {
  border-top: 0.5px solid #38384f;
  border-bottom: 0.5px solid #38384f;
}

@media screen and (min-width: 768px) {
  .bordered {
    border-width: 0;
  }
}

.bordered-bottom {
  border-bottom: 0.5px solid #38384f;
}

.bordered-square {
  border: 0.5px solid #38384f;
}

.active {
  border-color: #419ebb;
  border-bottom-width: 4px;
}

@media screen and (min-width: 768px) {
  .active {
    border: 0.5px solid #38384f;
  }
}

.padding-menu {
  padding: 2rem 1rem;
}

.position-image {
  left: 50%;
  transform: translateX(-50%);
}

/* Sidebar */

@media screen and (min-width: 768px) {
  header {
    border-bottom: 0.5px solid #38384f;
  }
}

/* Sidebar */

.sidebar {
  position: fixed;
  top: 6rem;
  left: 0;
  width: 100%;
  height: 100%;
  background: #070724;
  /* toggle logic */
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}
.show-sidebar {
  transform: translateX(0);
}

@media screen and (min-width: 768px) {
  article {
    display: grid;
    grid-template-areas:
      'a a a a'
      'b b c c '
      'd d d d';
  }
  .image {
    grid-area: a;
    background-image: url('./assets/background-stars.svg');
  }
  .description {
    grid-area: b;
  }

  .menu {
    grid-area: c;
  }
  .info {
    grid-area: d;
  }
}

.active-menu {
  border-bottom-width: 4px;
  border-color: #419ebb;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  article {
    display: grid;
    grid-template-areas:
      'a a a b'
      'a a a c '
      'd d d d';
  }
  .image {
    grid-area: a;
    background-image: url('./assets/background-stars.svg');
  }
  .description {
    grid-area: b;
  }

  .menu {
    grid-area: c;
  }
  .info {
    grid-area: d;
  }

  .info div {
    width: 22%;
  }
}
